.loginbg{
  background-color:#484848;
 }

.logogv{
  padding: 40px;
  margin-bottom: 5px;
}


@media (min-width: 768px) { 

    .logogv{
      margin-top: 80px;
    }
  }

.mypanel {
  background-color: #f0f0f0;
  padding: 40px 40px 100px 40px;
  
}

.mypanel-title {
  color: #606060;
  font-size: 24px;
  margin-bottom: 40px;
}

.myloginbutton {
  background-color: #f03030;
  padding: 10px;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  border-color: transparent;
}

.myloginbutton:hover {
   background-color: #f00000; 
}



<!-- This is the home -->

.homebg {
  background-color:#ffffff;
 }


.icon-bar {
    width: 100%; /* Full-width */
    background-color: #262626; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 3%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 10px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 20px; /* Increased font size */
}


.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.icon-bar .dropdmenu {
  float: right;
}


.sidebar {
    padding: 20px 0;
    border-right: solid 1px #ccc;
}

.sidebar h4 {
  padding-left: 15px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #212529;
    font-size: 20px; 
}

.sidebar li a:hover {
  background-color: #028ad8;
  color: #dadada;
}

.gvicon {
    color: #dadada;
}


.container-fluid.main {
 padding-left: 0;
}

.main-content {
    padding: 20px 0;
}

.panlist {
  border: solid 1px #bdbdbd;
  background-color: #edeaea;
  text-decoration: none;
  color: #000000;
}

.panlist:hover{
  border-color: #028ad8;
}


.vertdots {
  float: right;
}

.vertdots:after {
  content: '\2807';
  font-size: 40px;
  color: #c4c4c4;

}


.txtstyle {
  padding: 8px;
}


.nplist {
  border: dotted 1px #028ad8;
  margin-top: 30px;
  height: 220px;
}

.nplist a { 
  text-decoration: none; 
  display: block;
  text-align: center;
  padding: 60px;
  margin-top: 40px;
}





/* The container <div> - needed to position the dropdown content */
 

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



